/* Färger: Beige-#EAE7D2, Ljus Brungrå-#9C9084, Brungrå-#797066 Mörk Brungrå-#51473D */

/* Reset */
*{
	margin: 0px;
	padding: 0px;
	font: 
}
body {
	text-align:center;
}

#container{
	border: 0px solid #797066;
	width: 600px;
	margin: 10px auto;
	text-align: left;
	background: #51473D;
	padding-top:20px;
}

/* Top */
#topbar{
	display: block;
	border: grey;
	color: beige;
	text-align: right;
	font: 10px Verdana italic;
	background-image:url('pics/coffey.jpg');
	background-repeat: no-repeat;
	background-color: #51473D;
	width: 600px;
	height: 200px;
	padding-top: 3px;
	padding-bottom: 2px;
}

/* Meny */
#menu {
	background: #797066;
	color: beige;
	margin-left: 15px;
	padding: 0px;
}
#menu a:link{
	display:none;

}
#menu li {
	display:inline-block;
	list-style: none;
	padding: 7px 21px;
	font: 13px Verdana;
	border: 1px solid #51473D;
	border-bottom: 0px;
	margin: 0px -3px;
	background: #797066;
	text-transform: capitalize;
	
}
#menu ul {

	background: #51473D;
}
#menu ul li a:link {
	display:inline-block;
	color: beige;
	text-decoration: none;
}
#menu ul li a:visited {
	display:inline-block;
	color: #EAE7D2;
	text-decoration: none;
}
#menu ul li a:hover {
	display:inline-block;
	color: #EAE7D2;
	background: #9C9084;
	text-decoration: none;
	margin: -7px -21px;
	padding: 7px 21px;
}
#menu .active {
	background: #EAE7D2;
}
#menu ul .active a:visited{
	color: #797066;
}
#menu ul .active a:hover{
	display:inline-block;
	color: #797066;
	background: #EAE7D2;
	text-decoration: none;
	margin: -7px -21px;
	padding: 7px 21px;
}

/* Huvudinnehåll */
#content {
	background: #EAE7D2;
	border: 1px solid #9C9084;
	border-top: 0px;

}
#maincontent{
	display:inline-block;
	width: 350px;
	color: #797066;
	font: 13px Verdana;
	line-height: 155%;
	padding:10px 0px 10px 10px;
}
#maincontent img {
	float: left;
	margin: 0px 3px 0px 0px;
}
#maincontent h1 {
	font: 32px "Times New Roman";
	padding: 10px 0px 10px 0px;
}

/* Sidoinnehåll */
#subcontent {
	display:inline-block;
	float: right;
	width: 210px;
	margin-top: 25px;
	padding: 10px;
	border-left: 1px dashed #797066;
}
#subcontent h1 {
	font: 17px "Times New Roman";
	margin-top: -5px;
	padding-bottom: 15px;
	color:#51473D;
}
#subcontent p {
	font: 9px verdana;
	color:#797066;
	line-height: 230%;
}
#subcontent h2{
	font: 14px "Times New Roman";
	margin-top: 25px;
	color:#51473D;

}
#subcontent a:link {
	color: #51473D;
	font: 12px verdana;
}
#subcontent a:visited {
	color: #51473D;
}
#subcontent li {
	list-style: none;
}

/* Botten info */
#bottomcontent {
	display: block;
	width: 600;
	color: #797066;
	padding: 0px 0px 15px 10px;
	font: 10px Verdana Italic;
}











